.input:focus {
}

.input {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    width: 372px;
    height: 36px;
    margin-left: 70px;
}

.inputWrapper {
    display: flex;

}

.superInput {
}

.errorInput {
    border: 2px solid red;
}

.errorInput:focus {
}

.error {
    color: red;
}
