.stand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-bottom: 90px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 90px;
    padding-bottom: 90px;
}

.checkboxes {
    padding-right: 104px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}
