.button {
    border-radius: 3px;
    padding: 5px 24px;
    width: 132px;
    height: 30px;
}

.disabled {
    background: #004d99;
    opacity: 0.5;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.42857;
    color: #002e5c;
}

.secondary {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.42857;
    color: #06c;
    border: 1px solid #06c;
    border-radius: 3px;
    padding: 5px 24px;
    width: 176px;
    height: 30px;
}

.default {
    background: #06c;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.42857;
    color: #fff;
}

.red {
    background: #cc1439;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.42857;
    color: #fff;
}

.default:hover {
    background: #0080ff;

}

.red:hover {
    background: #ff1a47;

}

.secondary:hover {
    background: #e5f0fa;
}


.default:active {
    background: #0059b2;

}

.secondary:active {
    background: #c9e5ff;
}

.red:active {
    background: #b21232;
}

.button:disabled {
    background: #004d99;
    opacity: 0.5;
}
